<section>
  <div class="row" style="min-height: 85vh">
    <div class="d-flex justify-content-center align-items-center">
      <mat-card class="index-card animate__animated animate__slideInLeft">
        <mat-card-title> Welcome to PahlawanKita </mat-card-title>
        <mat-card-content>
          <span>The way that you can get in touch with our heroes ❤</span>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="accent" routerLink="quiz">Start</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
